.logo-container{
    z-index: 0;
    width: 450px;
    height: 659px;
    position: absolute;
    top: 0;
    right: 4%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;

    svg{
        width: 600px;
        height: 1209px;
        position: absolute;
        top: 662px;
        right: -4.5%;
        bottom: 0;
        left: auto;
        margin: auto;
        transform: rotateZ(24deg) !important;
    }

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(24deg) !important;
        z-index: 1;
    }
}

.svg-container{
    stroke: #fff700;
    stroke-width: 10;
}